#=== HAProxy - Load Balancer cluster WMS NTL =========================
global
    maxconn 2000
    log /dev/log local0
    stats socket /run/haproxy/admin.sock mode 660 level admin

defaults
    log     global
    mode    tcp
    retries 2
    timeout client  30m
    timeout connect 4s
    timeout server  30m
    timeout check   5s
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

#--- Tableau de bord HAProxy (http) ---------------------------------
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats show-node

#--- ÉCRITURES : routées vers le LEADER Patroni uniquement ----------
listen wms_write
    bind *:5000
    option httpchk GET /primary
    http-check expect status 200
    server pgsql-01 192.168.10.61:5432 maxconn 800 check port 8008
    server pgsql-02 192.168.10.60:5432 maxconn 800 check port 8008

#--- LECTURES : réparties sur les RÉPLICAS (primaire = secours) ------
listen wms_read
    bind *:5001
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    server pgsql-02 192.168.10.60:5432 maxconn 800 check port 8008
    server pgsql-01 192.168.10.61:5432 maxconn 800 check port 8008 backup
